@media screen and (max-width: 7000px) { /* Specific to this particular image */
    body {
        left: 50%;
        margin-left: -3500px; /* 50% */
    }

    .pos {
        left: 50%;
        margin-left: -85px;
    }
}

@media screen and (min-width: 500px) {
    .pic {
        background-size: auto;
        
    }
}